
html,body{
list-style: none;
box-sizing: border-box;
width: 100%;
height: 100%;
margin:0;
display: flex;
flex-flow: column wrap;
justify-content: flex-start;
margin: 5px 5px 5px 5px ;
}
#caja-1{
width: 5%;
height: 100%;

/*border: 3px solid black;*/
display: flex;justify-content: center;font-size: 12px;
align-content: space-around;
align-items: flex-start;
overflow: auto;
color: orange;

font-size: 15px;


}
#caja-2{

width: 95%;
height: 15%;
background-color: ;
/*border: 3px solid black; */
color:white;
flex-flow: row wrap;
display: flex;
justify-content: flex-start;
align-items: center;
font-size: 40px;

border: 0 0 0 0;
}

#caja-3{

width: 95%;
height: 70%;
background-color: ;
/*border: 3px solid black; */
display: flex;
flex-flow: column;
flex: 1 0 auto;
justify-content: center;
align-items: center;
background-color: mintcream;
}


ul,li{
	
	color: white; 
	
}

li{
	cursor: pointer;
	color: black;
	font-size: 15px;
}
 
span{
background-color: green;
font-size: 30px;

}

 #tarea{
	display: flex;
font-size: 25px;
color:white;
justify-content: center;

}
  
  #subcontenedor{
width: 100%;
height: 10%;
display: flex;
flex-flow: row wrap; 
justify-content: space-around;
  }

button{
	width:30%;
}
input{
	width: 100%;
}

#izquierda{
	display: flex;
	justify-content: center;align-items: center;
width: 20%;
 height: 70%; 
 border: 0; margin: 0;
 color:white;

}
 #derecha{
 	display: flex;
 	justify-content: center;align-items: center;
 width: 80%; 
 height: 70%;
 font-size: 20px;
 border: 0; margin: 0;
  
 }
 #icon{
margin: 0;
width: 100%;
height: 30%;
background-color: blue; 
border: 0; margin: 0;
display: flex;
justify-content: space-around;
 }

#buscador{
width:210px;
height: 3%;
background-color: red;
display: flex;

}

form{
	
	width: 15%;
    display: flex;
    height: 100%;
    order: 1;
}
#icono,#iconos,#m{
	margin: 0 0 0 4%;
}
#mostrar{
display: block;
	position: relative;
	max-width: 50%;
	max-height: 50%;
	background-color: red;
	display: flex;
	align-items: center;
	background: url(imagenes/galeria.png);

order:1;


}
#bd{
   width: 253px;
    height: 427px;
    /* background-color: rebeccapurple; */
    display: flex;
    justify-content: center;
    flex-direction: column

}
